*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}


.show-btn {
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.show-btn button {
    border: none;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 3px;
    cursor: pointer;
}


.form {
    display: none;
}

.fields {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 25%;
}

.username {
    height: 2.5rem;
    padding: .5rem;
    width: 20rem;
    font-size: 1.1rem;
    resize: none;
    outline: none;
    overflow-y: none;
}

.fields button {
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: .3rem;
    border-radius: 3px;
    cursor: pointer;
}

.chat-container {
    margin-top: 2rem;
    display: none;
    border-right: 3px solid rgb(61, 60, 60);
    width: 35rem;
    height: 37rem;
    margin-inline: auto;
}

.chat-messages {
    height: 25rem;
    overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

.chat-header {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.message {
    width: 45%;
    margin: 1.5rem 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.message-blue {
    background-color: rgb(61, 60, 60);
    color: white;
}

.message-grey {
    background-color: grey;
    color: white;
}

.message-sender {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: .3rem;
}

.message-text {
    word-wrap: break-word;
    font-size: 1.1rem;
}

.message-timestamp {
    font-size: .8rem;
    text-align: right;
}

.chat-input-form2 {
    display: flex;
    gap: .5rem;
    margin: 5rem 1rem 0;
}

.chat-input {
    height: 2.5rem;
    padding: .5rem;
    flex-grow: 1;
    resize: none;
    outline: none;
    overflow-y: none;
}

.send-btn {
    width: 4rem;
    font-size: 1rem;
    cursor: pointer;
}